.hero {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 5rem;
  align-items: center;
  justify-content: center;
}
.globe {
  height: 600px;
}
.heading {
  font-size: 70px;
  max-width: 800px;
}
.blob {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.span {
  color: var(--purple);
}
.know__link:hover {
  border: none;
}
@media only screen and (max-width: 1024px) {
  .heading {
    font-size: 62px;
  }
}
@media only screen and (max-width: 1256px) {
  .globe {
    height: 400px;
  }
}
